<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Machine Learning</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="/">ML</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#lesson">Lesson</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>MACHINE LEARNING</h1>
        <h2>Website for analyzing using Machine Learning</h2>
      </div>
    </div>
    <div class="text-center">
      <a href="#lesson" class="btn-get-started scrollto">Get Started</a>
    </div>
    <div class="row icon-boxes">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a
                  href="https://www.spiceworks.com/tech/artificial-intelligence/articles/what-is-ml/#:~:text=1.-,Supervised%20machine%20learning,-This%20type%20of">Supervised
            machine learning</a></h4>
          <p class="description">This type of ML involves supervision, where machines are trained on labeled datasets
            and enabled to predict outputs based on the provided training. The labeled dataset specifies that some input
            and output parameters are already mapped.
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="ri-palette-line"></i></div>
          <h4 class="title"><a
                  href="https://www.spiceworks.com/tech/artificial-intelligence/articles/what-is-ml/#:~:text=2.-,Unsupervised%20machine%20learning,-Unsupervised%20learning%20refers">Unsupervised
            machine learning</a></h4>
          <p class="description">Unsupervised learning refers to a learning technique that’s devoid of supervision.
            Here, the machine is trained using an unlabeled dataset and is enabled to predict the output without any
            supervision.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="ri-command-line"></i></div>
          <h4 class="title"><a
                  href="https://www.spiceworks.com/tech/artificial-intelligence/articles/what-is-ml/#:~:text=3.-,Semi%2Dsupervised%20learning,-Semi%2Dsupervised%20learning">Semi-supervised
            learning</a></h4>
          <p class="description">Semi-supervised learning comprises characteristics of both supervised and unsupervised
            machine learning. It uses the combination of labeled and unlabeled datasets to train its algorithms.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
          <div class="icon"><i class="ri-fingerprint-line"></i></div>
          <h4 class="title"><a
                  href="https://www.spiceworks.com/tech/artificial-intelligence/articles/what-is-ml/#:~:text=4.-,Reinforcement%20learning,-Reinforcement%20learning%20is">Reinforcement
            learning</a></h4>
          <p class="description">Reinforcement learning is a feedback-based process. Here, the AI component
            automatically takes stock of its surroundings by the hit & trial method, takes action, learns from
            experiences, and improves performance.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<main id="main">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
        <p>Ho Chi Minh City University of Technology and Education is currently listed as one of the top 10 universities
          in Vietnam and also a member in the top group of Southeast Asia universities. This is a public university
          located in Thủ Đức City, about 10 km north-east from downtown Ho Chi Minh City.</p>
      </div>
      <div class="row content">
        <div class="col-lg-6">
          <ul>
            <p>Ho Chi Minh city University of Technology and Education</p>
            <li><i class="ri-check-double-line"></i>Address: 1 Đ. Võ Văn Ngân, Linh Chiểu, Thành Phố Thủ Đức, Thành phố
              Hồ Chí Minh
            </li>
            <li><i class="ri-check-double-line"></i>Hours: Closed ⋅ Opens 7AM Thu</li>
            <li><i class="ri-check-double-line"></i>Products and Services: YouTube.com</li>
            <li><i class="ri-check-double-line"></i>Phone: 028 3722 1223</li>
            <li><i class="ri-check-double-line"></i>Founded: October 5, 1962,</li>
            <li><i class="ri-check-double-line"></i>Motto: Phát triển toàn diện, bền vững và hội nhập quốc tế
              (Comprehensive development, sustainability and international integration)
            </li>
            <li><i class="ri-check-double-line"></i>President: Do Van Dung, PhD</li>
            <li><i class="ri-check-double-line"></i>Motto in English: Comprehensive development, sustainability and
              international integration
            </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>Instructor</p>
          <ul>
            <li><i class="ri-check-double-line"></i>Name: Tran Tien Duc</li>
          </ul>
          <p>About Us</p>
          <ul>
            <li><i class="ri-check-double-line"></i>Name: Do Quoc Viet - ID: 19110498</li>
            <li><i class="ri-check-double-line"></i>Name: Vu Minh Nhat - ID: 19110418</li>
            <li><i class="ri-check-double-line"></i>Name: Nguyen Duc Thanh - ID: 19110459</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="lesson">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>LESSON 1</h2>
        <b>Support Vector Machine</b>
        <p>SVM là một thuật toán giám sát, nó có thể sử dụng cho cả việc phân loại hoặc đệ quy. Tuy nhiên nó được sử
          dụng chủ yếu cho việc phân loại. Trong thuật toán này, chúng ta vẽ đồi thị dữ liệu là các điểm trong n chiều (
          ở đây n là số lượng các tính năng bạn có) với giá trị của mỗi tính năng sẽ là một phần liên kết. Sau đó chúng
          ta thực hiện tìm "đường bay" (hyper-plane) phân chia các lớp. Hyper-plane nó chỉ hiểu đơn giản là 1 đường
          thẳng có thể phân chia các lớp ra thành hai phần riêng biệt.</p>
        <div class="text-center">
          <a href="lesson-1" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 2</h2>
        <b>Hồi quy đa thức bậc 2</b>
        <p>Trong thống kê, hồi quy đa thức là một dạng phân tích hồi quy trong đó mối quan hệ giữa biến độc lập x và
          biến phụ thuộc y được mô hình hóa như một đa thức bậc n theo x. đa thức hồi quy phù hợp với mối quan hệ phi
          tuyến tính giữa giá trị của x và giá trị trung bình có điều kiện tương ứng của y, ký hiệu là E(y |x). Mặc dù
          hồi quy đa thức phù hợp với một mô hình phi tuyến tính đối với dữ liệu, như một phương pháp thống kê vấn đề
          ước lượng nó là tuyến tính, theo nghĩa là hàm hồi quy E(y | x) là tuyến tính trong ẩn số các tham số được ước
          lượng từ dữ liệu. Vì lý do này, hồi quy đa thức được coi là một trường hợp đặc biệt của hồi quy tuyến tính
          bội. Các biến giải thích (độc lập) do khai triển đa thức của các biến "đường cơ sở" được gọi là các thuật ngữ
          cấp cao hơn. Các biến như vậy cũng được sử dụng trong cài đặt phân loại.[1]</p>
        <div class="text-center">
          <a href="lesson-2" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 3</h2>
        <b>Giảm dần đạo hàm (Gradient Descent)</b>
        <p>Trong Machine Learning nói riêng và Toán Tối Ưu nói chung, chúng ta thường xuyên phải tìm giá trị nhỏ nhất
          (hoặc đôi khi là lớn nhất) của một hàm số nào đó. Ví dụ như các hàm mất mát trong hai bài Linear Regression và
          K-means Clustering. Nhìn chung, việc tìm global minimum của các hàm mất mát trong Machine Learning là rất phức
          tạp, thậm chí là bất khả thi. Thay vào đó, người ta thường cố gắng tìm các điểm local minimum, và ở một mức độ
          nào đó, coi đó là nghiệm cần tìm của bài toán.</p>
        <div class="text-center">
          <a href="lesson-3" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 4</h2>
        <b>Hồi quy đa thức bậc 16</b>
        <p>Trong thống kê, hồi quy đa thức là một dạng phân tích hồi quy trong đó mối quan hệ giữa biến độc lập x và
          biến phụ thuộc y được mô hình hóa như một đa thức bậc n theo x. đa thức hồi quy phù hợp với mối quan hệ phi
          tuyến tính giữa giá trị của x và giá trị trung bình có điều kiện tương ứng của y, ký hiệu là E(y |x). Mặc dù
          hồi quy đa thức phù hợp với một mô hình phi tuyến tính đối với dữ liệu, như một phương pháp thống kê vấn đề
          ước lượng nó là tuyến tính, theo nghĩa là hàm hồi quy E(y | x) là tuyến tính trong ẩn số các tham số được ước
          lượng từ dữ liệu. Vì lý do này, hồi quy đa thức được coi là một trường hợp đặc biệt của hồi quy tuyến tính
          bội. Các biến giải thích (độc lập) do khai triển đa thức của các biến "đường cơ sở" được gọi là các thuật ngữ
          cấp cao hơn. Các biến như vậy cũng được sử dụng trong cài đặt phân loại.[1]</p>
        <div class="text-center">
          <a href="lesson-4" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 5</h2>
        <b>K-Nearest Neighbors</b>
        <p>KNN là một trong những thuật toán học có giám sát đơn giản nhất được sử dụng nhiều
          trong khai phá dữ liệu và học máy. Ý tưởng của thuật toán này là nó không học một điều gì từ tập dữ liệu học
          (nên KNN được xếp vào loại lazy learning), mọi tính toán được thực hiện khi nó cần dự đoán nhãn của dữ liệu
          mới.</p>
        <div class="text-center">
          <a href="lesson-5" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 6</h2>
        <b>Vẽ các đường đồng mức</b>
        <div class="text-center">
          <a href="lesson-6" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 7</h2>
        <b>Plot linearsvc support vectors</b>
        <div class="text-center">
          <a href="lesson-7" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 8</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
        <div class="text-center">
          <a href="lesson-8" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 9</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
        <div class="text-center">
          <a href="lesson-9" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="section-title">
        <h2>LESSON 10</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
        <div class="text-center">
          <a href="lesson-10" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
      <div>
        <iframe style="border:0; width: 100%; height: 270px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>No.1 Vo Van Ngan Street, Thu Duc city, Ho Chi Minh city, Viet Nam</p>
            </div>
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>doquocviet.sept3rd@gmail.com</p>
            </div>
            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+84 393 014 871</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="/static/forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row gy-2 gx-md-3">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group col-12">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group col-12">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3 col-12">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center col-12">
                <button type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Machine Learning</h3>
          <p>
            No.1 Vo Van Ngan Street <br>
            Thu Duc city, Ho Chi Minh city<br>
            Viet Nam<br><br>
            <strong>Phone:</strong>+84 393 014 871<br>
            <strong>Email:</strong>doquocviet.sept3rd@gmail.com<br>
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>
<script src="/static/assets/js/main.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>