<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Machine Learning</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>
<body>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">ML</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="getstarted scrollto" href="#main">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>LESSON 6</h1>
                <h2>Vẽ các đường đồng mức</h2>
            </div>
        </div>
        <div class="text-center">
            <a href="#main" class="btn-get-started scrollto">Get Started</a>
        </div>
    </div>
</section>
<main id="main" class='d-flex px-md-5'>
    <div class='w-50'>
        <form action='/lesson-6' method='GET'>
            <div class="row">
                <div class="col">
                    <label for="center1_x">Center 1 - X</label>
                    <input type="number" required class="form-control"
                           value={{ center1_x if is_show_image else 0 }} name='center1_x' id="center1_x"
                           placeholder="Center 1 - X">
                </div>
                <div class="col">
                    <label for="center1_y">Center 1 - Y</label>
                    <input type="number" required class="form-control"
                           value={{ center1_y if is_show_image else 0 }} name='center1_y' id="center1_y"
                           placeholder="Center 1 - Y">
                </div>
                <div class="col">
                    <label for="center1_y">Center 1 - z</label>
                    <input type="number" required class="form-control"
                           value={{ center1_z if is_show_image else 0 }} name='center1_z' id="center1_z"
                           placeholder="Center 1 - Y">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="center2_x">Center 2 - X</label>
                    <input type="number" required class="form-control"
                           value={{ center2_x if is_show_image else 0 }} name='center2_x' id="center2_x"
                           placeholder="Center 2 - X">
                </div>
                <div class="col">
                    <label for="center2_y">Center 2 - X</label>
                    <input type="number" required class="form-control"
                           value={{ center2_y if is_show_image else 0 }} name='center2_y' id="center2_y"
                           placeholder="Center 2 - Y">
                </div>
                <div class="col">
                    <label for="center2_z">Center 2 - z</label>
                    <input type="number" required class="form-control"
                           value={{ center2_z if is_show_image else 0 }} name='center2_z' id="center2_z"
                           placeholder="Center 2 - z">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Render</button>
        </form>
    </div>
    <div class='w-50'>
        {% if is_show_image %}
        <img src='/static/images/lesson6.png' alt='lesson 6'/>
        {% endif %}
    </div>
</main>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Machine Learning</h3>
                    <p>
                        No.1 Vo Van Ngan Street <br>
                        Thu Duc city, Ho Chi Minh city<br>
                        Viet Nam<br><br>
                        <strong>Phone:</strong>+84 393 014 871<br>
                        <strong>Email:</strong>doquocviet.sept3rd@gmail.com<br>
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>
<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>
<script src="/static/assets/js/main.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

</script>
</body>
</html>